[submodule "addons/weps_arccw_mp"]
	path = addons/weps_arccw_mp
	url = https://github.com/2048khz-gachi-rmx/arccw_mp_priv.git
	branch = recoil-rehaul

[submodule "addons/game_inventory"]
	path = addons/game_inventory
	url = https://github.com/qraxes/inventory2
