*.*

!addons/**/*.lua
!lua/notagain/**
# But descend into directories
addons/inventory/**
addons/epic_miningaddon/**
addons/inventory/**
addons/research/**

addons/arccw*
addons/cw*
!addons/cw2_base*
addons/fas*

addons/inventory/inventory_1.0.zip




#lua/autorun/server/lanes.lua
#lua/xp3/chathud-stable_5-to-1.lua
#*
#!*/
#
#*.sublime-project
#*.sublime-workspace
#*.sublime-project
#*.zip
#*.gma
#**.*
#!gamemodes/basewars/**/*.lua
#
#addons/*gdcw*
#addons/*cw*
#addons/*customizable*
#
#addons/epic_mining/*
#addons/inventory/*
#addons/research/*
#addons/inventory/inventory_1.0.zip