[submodule "addons/weps_arccw_mp"]
	path = addons/weps_arccw_mp
	url = https://github.com/2048khz-gachi-rmx/arccw_mp_priv.git
	branch = recoil-rehaul

[submodule "addons/game_inventory"]
	path = addons/game_inventory
	url = https://github.com/qraxes/inventory2
[submodule "addons/meta_adminphysgun"]
	path = addons/meta_adminphysgun
	url = https://github.com/2048khz-gachi-rmx/ImprovedAdminPhysgun
[submodule "addons/core_wsmount"]
	path = addons/core_wsmount
	url = https://github.com/2048khz-gachi-rmx/WSMount
