lua/autorun/server/lanes.lua
lua/xp3/chathud-stable_5-to-1.lua

*.sublime-project
*.sublime-workspace
*.sublime-project
*.zip
*.gma

addons/pLogs*
addons/advdupe2-master*
/*
!addons/
!*.lua

!addons/panellib
!gamemodes/basewars
!lua/xp3/*

addons/*gdcw*
addons/*cw*
addons/*customizable*

addons/epic_mining*
addons/inventory/*
addons/research/*
